*{margin: 0%; padding: 0%; font-family: 'josein sans', sans-seris;}
.container{
    width: 100%;
    height: 100vh;
    background-color:black;
    
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
   
}
nav ul li {
    display: inline-block;
    padding: 50px 32px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(134, 133, 140);
    font-weight: bold;
    list-style: none;
    transition: 0.5s;

}
nav ul li a:hover{
    color: rgb(61, 46, 78);
}
.logo{
    color: rgb(111, 65, 115);
    font-size: 35px;
}
span{
    color: rgb(134, 133, 140);
}
.content{
    margin-left: 8%;
    margin-right: 12%;

}
.content .img img{
    width: 453px;
}
.content .text {
    width: 100%;
    line-height: 64px;
    color: rgb(111, 65, 115);
}
.content .text h4{
    font-size: 23px;
    color: rgb(111, 65, 115);
    letter-spacing:2px ;

}
.content .text h1{
    font-size: 75px;
    letter-spacing: 1px;

}
.content .text h3{
    font-size: 25px;
    letter-spacing: 1px;
}
.cv {
    text-decoration: none;
    color: white;
   background-color: rgb(134, 133, 140);
   padding: 7px 30px;
   border-radius: 30px;
   box-shadow: 0px 0px 5px #000 , 0px 0px 8px #585858;
   transition: 0.5s;
}
.cv:hover {
    background-color: transparent;
    outline: none;
    border: rgb(134, 133, 140) 2px solid ;
}
.content .img{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 50px;
}

/*----------about------*/
#about{
    padding: 80px 0;
    color:  rgb(134, 133, 140);
    background-color: #0f0c0c;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size:60px;
    font-weight: 600;
    clear: #fff;
}
/*--------portfilio------*/
#portfilio{
    padding: 50px 0 ;
    background-color: #000;
    color: rgb(134, 133, 140);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
   border-radius: 10px;
   position: relative;
   overflow: hidden;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#3f0e3a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: o 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3f0e3a;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #585858;
    transition: backhround 0.5s;


}
.btn:hover{
    background: #3f0e3a;
}
/*-------contect----*/
.contact-left{
    flex-basis: 35%;
    clear:#585858 ;

}
.contact-left p{
    margin-top: 30px;
    color: #585858;
}
.contact-left p i{
    color: #3f0e3a;
    margin-right: 15px;
    font-size: 25px;
}
.contact-left h1{
    color: #585858;
}
